# Ignore large files
RAG/Lib/site-packages/cv2/cv2.pyd
RAG/Lib/site-packages/torch/lib/torch_cpu.dll
RAG/Lib/site-packages/torch/lib/dnnl.lib

/RAG/Lib/
__pycache__/
.chainlit/
Data/
RAG/
.env
src/__pycache__/
Evaluation/__pycache__/
*.pyc